main{
    border-radius: 10px;
    margin: 50px 0;
    border: 1px solid rgb(62, 62, 150);
    height: 520px;
    width: 400px;
    background-color: rgba(65, 65, 238, 0.792);
    box-shadow: 2px 2px 2px;
    
    .display{
        margin:20px 35px;
        width: 325px;
        height: 50px;
        border-radius: 5px;
        padding: 0 10px;
        font-size: 1.5rem;
        direction: rtl;
    }

    .buttons{
        border: 1px solid black;
        width:320px;
        margin: 0 40px;
        height: 410px;

    }
    .btn1{
        background-color: rgb(224, 131, 69);
        border-radius: 5px;
        width: 70px;
        height: 70px;
        font-size: 1.5rem;
        text-align: center;
        box-shadow: 2px 2px 2px;
       
        
        &:hover{
            box-shadow: 2px 2px 2px;
            background-color: rgb(186, 96, 40);
        }
    }

    .btn2{
        background-color: red;
        border-radius: 5px;
        width: 70px;
        height: 150px;
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        bottom: 80px;
        box-shadow: 2px 2px 2px;
       
        &:hover{
            box-shadow: 2px 2px 2px;
            background-color: rgb(228, 44, 44);
        }
        
    }

    .btn3{
        border-radius: 5px;
        width: 150px;
        height: 70px;
        font-size: 1.5rem;
        text-align: center;
        margin-left: 5px;
        box-shadow: 2px 2px 2px;
       
        &:hover{
            box-shadow: 2px 2px 2px;
            background-color: rgb(178, 178, 178);
        }
    }
    
    .btn4{
        border-radius: 5px;
        width: 70px;
        height: 70px;
        font-size: 1.5rem;
        text-align: center;
        margin-left: 5px;
        box-shadow: 2px 2px 2px;
       
        &:hover{
            box-shadow: 2px 2px 2px;
            background-color: rgb(178, 178, 178);
        }
        
    }
    .btn5{
        
        border-radius: 5px;
        width: 70px;
        height: 70px;
        font-size: 1.5rem;
        text-align: center;
        margin-left: 10px;
        box-shadow: 2px 2px 2px;
       
        &:hover{
            box-shadow: 2px 2px 2px;
            background-color: rgb(178, 178, 178);
        }
        
    }
    .btn6{
        
        border-radius: 5px;
        width: 70px;
        height: 70px;
        font-size: 1.5rem;
        text-align: center;
        margin-left: 10px;
        box-shadow: 2px 2px 2px;
       
        &:hover{
            box-shadow: 2px 2px 2px;
            background-color: rgb(178, 178, 178);
        }
        
    }
    .btn7{
        
        border-radius: 5px;
        width: 70px;
        height: 70px;
        font-size: 1.5rem;
        text-align: center;
        margin:0 10px;
        box-shadow: 2px 2px 2px;
       
        &:hover{
            box-shadow: 2px 2px 2px;
            background-color: rgb(178, 178, 178);
        }
    }
    .btn{
        border-radius: 5px;
        width: 70px;
        height: 70px;
        font-size: 1.5rem;
        text-align: center;
        box-shadow: 2px 2px 2px;
        
        &:hover{
            box-shadow: 2px 2px 2px;
            background-color: rgb(178, 178, 178);
        }

    }

    .line1{
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
    }
    
    .line2{
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
    }
    .line3{
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
    }
    .line4{
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
    }

    .line5{
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
    }
}